body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: antiquewhite;
}

#container_track {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: aqua;
}

.area {
    fill: rgba(255,0,255,0.2);
    cursor: crosshair;
}

.area:hover {
    fill: rgba(255,0,255,0.6);
}

