body {
    margin: 0;
}

#container_track {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: antiquewhite;
}

.area {
    fill: rgba(255,0,255,0.2);
    cursor: pointer;
}

.area:hover {
    fill: rgba(163, 0, 163, 0.2);
}

